<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- start header -->
	<div id="header" th:fragment="headerFragment">
	<!--
		${session.SID == null} 
		관리자
		${session.SLEVEL == 1}
		판매자
		${session.SLEVEL == 2}
		구매자
		${session.SLEVEL == 3}
		
		비회원 : 회원가입,로그인
		권한별 메뉴
		관리자 : 모든메뉴,로그아웃
		판매자 : 상품등록,상품검색,로그아웃
		구매자 : 상품검색,로그아웃
	 -->
		header.html<br>
		상단메뉴<br><br><br>
		<a href="/addMember" th:if="${session.SLEVEL == '관리자' || session.SID == null}">회원가입</a>
		<a href="/getMemberList" th:if="${session.SLEVEL == '관리자'}">전체회원</a>
		<a href="/addGoods" th:if="${session.SLEVEL == '관리자' || session.SLEVEL == '판매자'}">상품등록</a>
		<a href="/goodsList" th:if="${session.SLEVEL == '관리자' || session.SLEVEL == '판매자' || session.SLEVEL == '구매자'}">상품검색</a>
	</div>
	<!-- end header -->
</html>